# Build
target
target-eclipse

# IDEA
*.iml
*.ipr
*.iws
.idea

# Eclipse
.classpath
.project
.settings
.checkstyle
.fbprefs

# NetBeans
nbproject

# Other
*~
*.log.*
*.log
.sonar-ide.properties
.clover
